PROXMOX_URL=https://192.168.1.100:8006
PROXMOX_NODE=pve
PROXMOX_USER=root@pam
PROXMOX_PASSWORD=your_secure_password
BACKUP_STORAGE=pbs
RESTORE_STORAGE=local-lvm
VM_RESTORE_COUNT=5
SCREENSHOT_WAIT_MINUTES=5
PROXMOX_TIMEOUT=60
AUTO_START_VM=True
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
TELEGRAM_CHAT_ID=-100123456789
